[submodule "WebRTC-iOS-Client/WebRTC-iOS-Client/Frameworks/WebRTC-iOS"]
	path = WebRTC-iOS-Client/WebRTC-iOS-Client/Frameworks/WebRTC-iOS
	url = https://github.com/wenxin3262/WebRTC-iOS
[submodule "WebRTC-Server"]
	path = WebRTC-Server
	url = https://github.com/adis300/apprtc-server.git
[submodule "WebRTC-Framework"]
	path = WebRTC-Framework
	url = https://chromium.googlesource.com/external/webrtc.git
